/* ----------------------------------------------------------------
    reset do arquivo
   --------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* ----------------------------------------------------------------
    Header do arquivo
   --------------------------------------------------------------*/

header{
    padding: 30px 2%;
}

header .logo{
    float: left;
}
/*Navegação desktop*/
header .desktop{
    float: right;
    position: relative;
    top: 20px;
}

header .desktop ul{
    list-style-type: none;
}

header .desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
}

header .desktop ul li a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
/*Navegação mobile*/
header .mobile{
    display: none;
}

nav.mobile ul{
    display: none;
    width: 100%;
    left: 0;
    top: 105px;
    z-index: 999;
    position:  absolute;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #EB2D2D;
}

nav.mobile ul li{
    font-size: 23px;
    padding: 10px 0;
    font-style: italic;
}

nav.mobile ul li a{
    color: black;
    text-decoration: none;
}
/* ----------------------------------------------------------------
    Seção banner inicial
   ---------------------------------------------------------------*/
section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('imagens/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.banner .text-banner{
    padding: 100px;
}

.banner .text-banner-single{
    width: 314px;
    height: 70px;
    padding: 20px 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    background-image: url("./imagens/box-text.png");
}

.banner .text-banner-single:nth-of-type(2){
    width: 200px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -13px;
}

.banner .text-banner-single:nth-of-type(3){
    width: 170px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -25px;
}

.banner .text-banner-single:nth-of-type(4){
    background-image: url("./imagens/box-white-text.png");
    color: black;
    font-size: 20px;
    font-style: italic;
    width: 250px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -37px;
}

/* ----------------------------------------------------------------
    Seção Veículos em destaque
   --------------------------------------------------------------*/
section.veiculos-destaque{
    padding: 90px 2%;
}

section.veiculos-destaque .line-title{
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

section.veiculos-destaque .containers{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
}

section.veiculos-destaque .lin1{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 2px;
    background-color: black;
}

section.veiculos-destaque .line-title > h2{
    padding: 0 20px;
    position: relative;
    background-color: white;
    display: inline-block;
    font-size: 27px;
    font-style:italic;
    text-transform: uppercase;
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .car-img{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 5px solid white;
}

.vitrine-destaque h2{
    padding-left: 8px;
    color: black;
    font-size: 20px;
    font-style: italic;
}

.vitrine-destaque p{
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
}

.vitrine-destaque a{
    margin-top: 20px;
    padding: 2px;
    margin-left: 8px;
    color: white;
    font-style: italic;
    width: 150px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    background-color: #EB2D2D;
    border: 3px solid #B21E1E;
}

/* ----------------------------------------------------------------
    Seção das mídias screens
   --------------------------------------------------------------*/

@media  screen and (max-width:1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width:768px){
    header .mobile{
        display: block;
    }

    nav.mobile i.fa-bars{
        font-size: 30px;
        cursor: pointer;
        position: relative;
        float: right;
        top: -50px;
        left: -25px;
    }

    header .desktop{
    display: none;
    }

    .banner .text-banner{
        padding: 50px;
    }
    .banner .text-banner-single{
    font-size: 23px;
    }

    section.veiculos-destaque .containers{
        text-align: center;
    }

    .vitrine-destaque{
        float: none;
        width: 100%;
        max-width: 600px;
        display: inline-block;
        margin-top: 20px;
    }
}

@media screen and (max-width:580px){
    .text-banner{
        padding: 30px;
    }

    .banner .text-banner-single{
        width: 240px;
        font-size: 18px;
    }

    .banner .text-banner .text-banner-sigle:nth-of-type(4){
        width: 270px;
    }

    .vitrine-destaque{
        max-width: 400px;
    }

}