/* ----------------------------------------------------------------
    reset do arquivo
   --------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

/* ----------------------------------------------------------------
    Header do arquivo
   --------------------------------------------------------------*/

header{
    padding: 30px 2%;
}

header .logo{
    float: left;
}
/*Navegação desktop*/
header .desktop{
    float: right;
    position: relative;
    top: 20px;
}

header .desktop ul{
    list-style-type: none;
}

header .desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
}

header .desktop ul li a{
    text-decoration: none;
    color: black;
    font-style: italic;
}
/*Navegação mobile*/
header .mobile{
    display: none;
}

nav.mobile ul{
    display: none;
    width: 100%;
    left: 0;
    top: 105px;
    z-index: 999;
    position:  absolute;
    text-align: center;
    background-color: white;
    border-bottom: 2px solid #EB2D2D;
}

nav.mobile ul li{
    font-size: 23px;
    padding: 10px 0;
    font-style: italic;
}

nav.mobile ul li a{
    color: black;
    text-decoration: none;
}
/* ----------------------------------------------------------------
    Seção banner inicial
   ---------------------------------------------------------------*/
section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('imagens/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.banner .text-banner{
    padding: 100px;
}

.banner .text-banner-single{
    width: 314px;
    height: 70px;
    padding: 20px 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    background-image: url("./imagens/box-text.png");
}

.banner .text-banner-single:nth-of-type(2){
    width: 200px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -13px;
}

.banner .text-banner-single:nth-of-type(3){
    width: 170px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -25px;
}

.banner .text-banner-single:nth-of-type(4){
    background-image: url("./imagens/box-white-text.png");
    color: black;
    font-size: 20px;
    font-style: italic;
    width: 250px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -37px;
}

/* ----------------------------------------------------------------
    Seção Veículos em destaque
   --------------------------------------------------------------*/
section.veiculos-destaque{
    padding: 90px 2%;
}

.line-title{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}

section.veiculos-destaque .containers{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0;
}

.lin1{
    position: absolute;
    top: 20px;
    width: 100%;
    height: 2px;
    background-color: black;
}

.line-title > h2{
    padding: 0 20px;
    position: relative;
    background-color: white;
    display: inline-block;
    font-size: 27px;
    font-style:italic;
    text-transform: uppercase;
}

.vitrine-destaque{
    float: left;
    width: 33.3%;
}

.vitrine-destaque .car-img{
    width: 100%;
    padding-top: 100%;
    background-size: 100% 100%;
    border: 5px solid white;
}

.vitrine-destaque h2{
    padding-left: 8px;
    color: black;
    font-size: 20px;
    font-style: italic;
}

.vitrine-destaque p{
    padding-top: 8px;
    padding-left: 8px;
    color: #353535;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 7px;
}

.btn1{
    padding: 3px;
    color: white;
    font-style: italic;
    width: 150px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    background-color: #EB2D2D;
    border: 3px solid #B21E1E;
}

.vitrine-destaque a{
    margin-left: 8px;
}

/* ----------------------------------------------------------------
    Seção de depoimentos e serviços
   --------------------------------------------------------------*/
section.servicos-descricao{
    display: flex;
}

.half1{
    width: 50%;
    text-align: right;
    padding: 90px 0;
    background: #242424;
    color: white;
}

.half1 .half1-wraper{
    display: inline-block;
    text-align: left;
    padding-right: 100px;
}

.half1-wraper h2{
    font-weight: normal;
    font-size: 32px;
    font-style: italic;
}

.half1-wraper ul{
    display: inline-block;
    margin-top : 20px;
}

.half1-wraper li{
    margin-left: 15px;
}

.half1-wraper a{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 40px;
}

.half2{
    width: 50%;
    padding: 90px 100px;
    background: #EB2D2D;    
    color: white;
}

.half2 h2{
    font-weight: normal;
    font-size: 32px;
    font-style: italic;
}

.half2 .depoimentos-single{
    margin-top: 20px;
    max-width: 350px;
}

.half2 p{
    font-size: 16px;
    font-weight: none;
}

.navegation {
    margin-top: 25px;
    max-width: 350px;
}

.navegation img{
    cursor: pointer;
    margin: 0 20px;
}

.navegation .Arrow{
    float: left;
}

.navegation .nome-single{
    float: right;
    color: #252525;
    font-size: 23px;
}

footer{
    padding: 40px 2%;
    background-color: #252525;
}

footer nav{
    float: left;
}

footer nav ul{
    list-style-type: none;
}

footer nav li{
    float: left;
    font-size: 19px;
    padding: 0 35px;
}

footer nav li a{
    color: white;
    text-decoration: none;
}

footer p{
    float: right;
    color: white;
    font-size: 18px;
    font-style: italic;
}

/* ----------------------------------------------------------------
    Seção Contato
   --------------------------------------------------------------*/

section.contato{
    padding: 80px 2%;
}

.contato form{
    max-width: 600px;
    margin: 50px auto;
}

.w100{
    width: 100%;
}

.w50{
    width: 50%;
}

.contato .input-wraper{
    float: left;
    padding: 10px;
    margin-top: 15px;
}

.contato input[type=text]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 40px;
    padding-left: 15px;
}

.contato textarea{
    width: 100%;
    border: 1 solid #ccc;
    height: 120px;
    padding: 8px;
    resize: none;
}

.input-wraper:nth-of-type(5){
    text-align: center;
}

.contato input[type=submit]{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    cursor: pointer;
    display: inline-block;
}

/* ----------------------------------------------------------------
    Seção de Vendas
-----------------------------------------------------------------*/

section.venda{
    min-height: 90%;
    padding: 90px 0;
}

.venda .content-venda{
    margin-top: 40px;
}

.search1 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.search1 .barra-preco{
    width: 300px;
    height: 20px;
    background-color: white;
    margin-top: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.search1 .barra-preco-fill{
    position: absolute;
    left: 0;
    top : 0;
    width: 30%;
    height: 19px;
    background: rgb(200,200,200);
    border-radius: 20px;
}

.search1 .pointer-barra{
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc(30% - 13px);
    top: -2px;
    cursor: pointer;
    border-radius: 8px;
    background-color: rgb(210,210,210);
    border: 1px solid black;
}

.valor-pesquisa{
    margin-top: 8px;
    max-width: 300px;
}

.valor-pesquisa p{
    color: black;
}

.valor-pesquisa p:nth-of-type(1){
    float: left;
}

.valor-pesquisa p:nth-of-type(2){
    float: right;
}

.search2{
    margin-top: 10px;
}

.search2 h2{
    font-size: 24px;
    color: black;
    font-weight: normal;
}

.form-venda-wraper{
    margin-top: 10px;
}

.form-venda-wraper input {
    display: none;
}

.form-venda-wraper label{
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    vertical-align: top;
    cursor: pointer;
}

.form-venda-wraper span{
    padding: 0 10px;
    display: inline-block;
    vertical-align: top;
}

/* ----------------------------------------------------------------
    Seção das mídias screens
   --------------------------------------------------------------*/

@media screen and (max-width:1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width:990px){
    .half1{
        text-align: center;
    }

    .half1 .half1-wraper{
        padding-right: 0;
        text-align: left;
    }

    .half1-wraper a{
        display: block;
        margin-left: 0;
        margin-top: 15px;
    }
} 

@media screen and (max-width:768px){
    header .mobile{
        display: block;
    }

    nav.mobile i.fa-bars{
        font-size: 30px;
        cursor: pointer;
        position: relative;
        float: right;
        top: -50px;
        left: -25px;
    }

    header .desktop{
        display: none;
    }

    .banner .text-banner{
        padding: 50px;
    }

    .banner .text-banner-single{
        font-size: 23px;
    }

    section.veiculos-destaque .containers{
        text-align: center;
    }

    .vitrine-destaque{
        float: none;
        width: 100%;
        max-width: 600px;
        display: inline-block;
        margin-top: 20px;
    }

    section.servicos-descricao{
        flex-direction: column;
    }

    .half1, .half2{
        width: 100%;
    }

    .half2{
        padding: 90px 20%;
    }

    .half2 .depoimentos-single{
        max-width: none;
    }

    footer nav{
        display: none;
    }

    footer{
        text-align: center;
    }

    footer p{
        float: none;
    }
}

@media screen and (max-width:580px){
    .text-banner{
        padding: 30px;
    }

    .banner .text-banner-single{
        width: 240px;
        font-size: 18px;
    }

    .banner .text-banner .text-banner-sigle:nth-of-type(4){
        width: 270px;
    }

    .vitrine-destaque{
        max-width: 400px;
    }

}