*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

html, body{
    height: 100%;
}

.center{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.clear{
    clear: both;
}

header{
    padding: 30px 2%;
}

header .logo{
    float: left;
}

header .desktop{
    float: right;
    position: relative;
    top: 20px;
}

header .desktop ul{
    list-style-type: none;
}

header .desktop ul li{
    float: left;
    font-size: 23px;
    padding: 0 30px;
}

header .desktop ul li a{
    text-decoration: none;
    color: black;
    font-style: italic;
}

header .mobile{
    display: none;
}

section.banner{
    width: 100%;
    height: 600px;
    background-color: black;
    background-image: url('imagens/bg.jpg');
    background-size: contain;
    background-position: right bottom;
    background-repeat: no-repeat;
}

.banner .text-banner{
    padding: 100px;
}

.banner .text-banner-single{
    width: 314px;
    height: 70px;
    padding: 20px 30px;
    margin-top: 10px;
    text-transform: uppercase;
    color: white;
    font-size: 26px;
    background-image: url("./imagens/box-text.png");
}

.banner .text-banner-single:nth-of-type(2){
    width: 200px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -13px;
}

.banner .text-banner-single:nth-of-type(3){
    width: 170px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -25px;
}

.banner .text-banner-single:nth-of-type(4){
    background-image: url("./imagens/box-white-text.png");
    color: black;
    font-size: 20px;
    font-style: italic;
    width: 250px;
    height: 60px;
    line-height: 20px;
    position: relative;
    left: -37px;
}

@media  screen and (max-width:1024px){
    section.banner{
        background-size: cover;
        background-position: center;
        height: 70vw;
        min-height: 500px;
    }
}

@media screen and (max-width:768px){
    header .mobile{
        display: block;
    }
    header .desktop{
    display: none;
    }
    .banner .text-banner{
        padding: 50px;
    }
    .banner .text-banner-single{
    font-size: 23px;
    }
}